*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.im1{
    width: 50vh;
    height: 30vh;
    position: absolute;
  
  } 
.im2{
    width: 50vh;
    height: 30vh;
    transform: translateY(70vh);
    margin-left: 1000px;
  }
  .clave{
    border:solid black ;
    border-radius: 20px;
    width: 80vh;
    height: 250px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .uno{
    transform: translateY(20px);
    margin-left: 90px;
    font-size: 20px;
  }
.validar{
    width: 100px;
    height: 20px;
    margin-left: 30vh;
}